<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicCatalog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicCatalogWebApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MusicCatalog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Request.Path != "/Account/Login" && Context.Request.Path != "/Account/Register")
                        {
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Guest"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "")"
                                       asp-area="" asp-controller="Home" asp-action="Index">Дашборд</a>
                                </li>
                            }
                            <li class="nav-item dropdown @(ViewContext.RouteData.Values["Controller"]?.ToString() is "Artists" or "Albums" or "Tracks" ? "active" : "")">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="catalogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Каталог
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="catalogDropdown">
                                    <li>
                                        <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Artists" ? "active" : "")"
                                           asp-controller="Artists" asp-action="Index">Артисты</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Albums" ? "active" : "")"
                                           asp-controller="Albums" asp-action="Index">Альбомы</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Tracks" ? "active" : "")"
                                           asp-controller="Tracks" asp-action="Index">Треки</a>
                                    </li>
                                </ul>
                            </li>
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Guest"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Playlists" ? "active" : "")"
                                       asp-area="" asp-controller="Playlists" asp-action="Index">Плейлисты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Favorite" ? "active" : "")"
                                       asp-area="" asp-controller="Favorite" asp-action="Index">Избранное</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Profile" ? "active" : "")"
                                       asp-area="" asp-controller="Profile" asp-action="Index">Профиль</a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" ? "active" : "")">
                                        <a class="nav-link dropdown-toggle text-light" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Админ-панель
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                            <li>
                                                <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "")"
                                                   asp-controller="Admin" asp-action="Index">Список пользователей</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["Action"]?.ToString() == "Proposals" ? "active" : "")"
                                                   asp-controller="Admin" asp-action="Proposals">Предложения изменений</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["Action"]?.ToString() == "AddToCatalog" ? "active" : "")"
                                                   asp-controller="Admin" asp-action="AddToCatalog">Добавить в каталог (функция в разработке)</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <!-- Кнопка "Помощь" всегда отображается -->
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <a href="https://github.com/StepanSazykin/MusicCatalogWebApplication/blob/master/docs/help_admin.md" target="_blank" class="nav-link text-light">Помощь</a>
                                }
                                else if (User.IsInRole("Guest"))
                                {
                                    <a href="https://github.com/StepanSazykin/MusicCatalogWebApplication/blob/master/docs/help_guest.md" target="_blank" class="nav-link text-light">Помощь</a>
                                }
                                else
                                {
                                    <a href="https://github.com/StepanSazykin/MusicCatalogWebApplication/blob/master/docs/help_user.md" target="_blank" class="nav-link text-light">Помощь</a>
                                }
                            }
                            else if (Context.Request.Path == "/Account/Login" || Context.Request.Path == "/Account/Register")
                            {
                                <a href="https://github.com/StepanSazykin/MusicCatalogWebApplication/blob/master/docs/help_auth.md" target="_blank" class="nav-link text-light">Помощь</a>
                            }
                            else
                            {
                                <a href="https://github.com/StepanSazykin/MusicCatalogWebApplication/blob/master/docs/help_guest.md" target="_blank" class="nav-link text-light">Помощь</a>
                            }
                        </li>
                        @if (User.IsInRole("Guest"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-light">Выйти (@User.Identity.Name)</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            © 2025 - MusicCatalog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $.validator.messages.required = 'Это поле обязательно для заполнения.';
            $.validator.messages.email = 'Некорректный формат email.';
            $.validator.messages.maxlength = $.validator.format('Максимальная длина: {0} символов.');
            $.validator.messages.compare = 'Пароли не совпадают.';
            $.validator.messages.range = $.validator.format('Значение должно быть в диапазоне от {0} до {1}.');
            $.validator.messages.number = 'Пожалуйста, введите корректное число.';
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>